on:
  push:

name: action
jobs:
  hello-world:
    name: Un job para saludar
    runs-on: ubuntu-20.04
    env:
      NAME: "Alejandro"
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Step Hola Mundo
        id: hello
        uses: ./.github/actions/hello/
        with:
          FIRST_NAME: ${{ env.NAME }}

      - name: Usar el output
        run: echo "La fecha es ${{ steps.hello.outputs.time }}"